body {
    background-color:lightcyan;
}

#topbar{
  height: 50px;
  width: 100%;
  background: #1d1f1d;
  
}

#button1{
  width: 10%;
  height: 25px;
  margin-top: 12px;
  margin-left: 20%;
  background: none;
  color: white;
  text-align: center;
  border: none;
  cursor:pointer;
}